/* Configurações da header */

header{
    background-color:black;
    border-top: solid;
    border-width: 1.5rem;
    text-align: right; 
}

/* Configurações do menu de navegação */

nav{
        text-align: right;
        border-bottom: 1.5rem solid black;
}

/* Config. do texto do menu de nav */
a{
    color:aliceblue;
    font-size: 1.3rem;
    font-family: "Fira Code";
    font-weight: 500;
    margin-right: 2rem;
    padding-bottom: 0.5rem;
}
/* Corpo da página */

body{
    margin: 0rem;
    padding: 0rem;
    background: rgb(142,143,144);
    background: radial-gradient(circle, rgba(142,143,144,1) 12%, rgba(255,254,254,1) 96%);
}

/* Container da imagem e do formulário */
.container{
    display: flex;
    width: 100%;
    height: 100%;
}

/* Container da imagem */
.form-image{
    display: flex;
    width: 20rem;
    height: 35rem;
    margin-top: 2rem;
    margin-left: 25rem;
}

/* Config. da Imagem */
img{
    display: flex;
    width: 20rem;
    height: 35rem;
    box-shadow: 15px 10px 10px black;
}

/* Container do Form. */
.row{
    padding: 60px;
    display: flex;
    width: 50%;
    height: 50%;
    text-align: left;
    margin-left: 5rem;
}

/* Conf. Form */
form{
    height: 100%;
    width: 55%;
    margin-right: auto;
    background-color:transparent;

}

/*  Área de inserção do form */

input, textarea {
width: 95%;
padding: 10px;
margin-bottom: 1em;
font: 1em;
border: 1px solid black;

}

/* config. texto do form */

label{
font-weight: bold;
padding-bottom: 5px;
display: flex;
font-family: "Fira Code";

}

/* Config. botão do form */

button{
    background-color: black;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    padding: 15px;
    border-radius: 2px;
}